body {
  background: linear-gradient(135deg, white, blue);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}



input[type="number"] {
  padding: 10px;
  width: 60%;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: green;
  color: gold;
  border: black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

#message {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}


footer {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  color: black;
}
